@import "mixin/mixin.scss";
@import "extends/extend.scss";
@import "variables.scss";
@import "admin.scss";
@import "icon/fontawesome.scss";

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
i { 
    font-family: 'FontAwesome', sans-serif; 
} 
/*   *, ::after, ::before  {
    box-shadow: 0 0 0 2px red
    inset;
}  */ 
 
body { 
    font-family: $font-body;
    overflow-x: hidden;
    background-color: $bg-body;
    color: $color-body;
    h1 , .h1{
        font-size: 35px;
        @media (max-width:1199px) {
            font-size: 32px;
        }
        @media (max-width:991px) {
            font-size: 30px;
        }
        @media (max-width:767px) {
            font-size: 28px;
        }
        @media (max-width:600px) {
            font-size: 25px;
        }
        @media (max-width:400px) {
            font-size: 22px;
        }
    }
}
.handwritten{ 
   /*  font-family: Tropical Country; */
   font-family: 'Island Moments', cursive;
}
.scrolled-offset {
    margin-top: 62px;
  }
.slider{
    /* @media (min-width:1200px) { */
        background-attachment: fixed;
    //}
    width: 100%;
    height: 100vh;
    background-image: url("img/slider.jpg");
    background-size: cover; 
    background-position: bottom center;
   // background-color: $general-color;
    padding: 0 15px;
    color: #fff;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0 ,0 ,0,.2);
        z-index: 0;
    }
    .cnt{
        z-index: 1;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        .h2, h2{
            @media (max-width:400px) {
                font-size: 20px;
            }
        }
    }
    /* .btn-get-started {
        font-size: 64px;
        transition: 0.5s;
        color: #fff;
        height: 60px;
        &:hover{
            color: $color-chevron;
        }
    } */
    .slogan-slider{
        font-size: 42px;
        @media (max-width:1199px) {
            font-size: 40px;
        }
        @media (max-width:991px) {
            font-size: 38px;
        }
        @media (max-width:767px) {
            font-size: 36px;
        }
        @media (max-width:600px) {
            font-size: 34px;
        }
        @media (max-width:400px) {
            font-size: 32px;
        }
    }
    .title-slider{
        font-size: 40px;

        @media (max-width:1199px) {
            font-size: 36px;
        }
        @media (max-width:991px) {
            font-size: 34px;
        }
        @media (max-width:767px) {
            font-size: 30px;
        }
        @media (max-width:600px) {
            font-size: 26px;
        }
        @media (max-width:400px) {
            font-size: 22px;
        }
        span{
            position: relative;
        }
    }
    .sub-title-slider{
        margin-top: 15px;
        font-size: 25px;
        @media (max-width:1199px) {
            font-size: 24px;
        }
        @media (max-width:991px) {
            font-size: 23px;
        }
        @media (max-width:767px) {
            font-size: 22px;
        }
        @media (max-width:600px) {
            font-size: 21px;
        }
        @media (max-width:400px) {
            font-size: 20px;
        }
    }
    .text-slider{
        font-size: 20px;
        max-width: 450px;
        margin: 15px 0;
        @media (max-width:767px) {
            font-size: 18px;
        }
        @media (max-width:600px) {
            font-size: 17px;
        }
        @media (max-width:400px) {
            font-size: 15px;
        }
    }

    .bg-icon-slider{
       // background-color: rgba(255,255,255,.3);
        padding: 10px 0;
        width: 260px;
        height: 150px;
        position: fixed;
        top: 209px;
        left: 165px;
        @media (max-width:1500px) {
            width: 171px;
            height: 147px;
            top: 190px;
            left: 170px;
        }
    }
    .icon-slider{
        width: 260px;
        height: 150px;
        background-image: url("/img/icon-header.svg");
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        
    }
}  
.deatils{
    .header{
        position: fixed;
    }
}
.header{
    transition: all 0.5s;
    height: 60px;
    background: rgba(0,0,0,.2);
    box-shadow: 0px 0px 20px 0px rgba(0 ,0 ,0 , .12);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .slogan-header{
        /* font-size: 42px;
        @media (max-width:767px) {
            font-size: 35px;
        }
        @media (max-width:400px) {
            font-size: 30px;
        } */
        /* @media (max-width:767px) {
            font-size: 30px;
        }
        @media (max-width:600px) {
            font-size: 28px;
        }
        @media (max-width:400px) {
            font-size: 26px;
        } */
    }

    nav{
        ul{
            
            li{
                a{
                    display: block;
                    padding: 10px;
                    margin: 0 12px;
                    font-size: 14px;
                    font-weight: 600 ;
                    color: #fff;
                    text-decoration: none;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover , &:focus , &.active{
                        color: $general-color;
                        font-weight: 600;
                    }

                }
            }
        }
      
    }
    @media (min-width:768px) {
        .navbar-expand-lg {
            flex-wrap: nowrap;
            justify-content: flex-start;
            .navbar-toggler {
                display: none;
            }   
            .navbar-collapse {
                display: flex!important;
                flex-basis: auto;
            }
            .navbar-nav {
                flex-direction: row;
            }
        }

    }
    
}


.social-icons{
    text-align: center;
    padding: 0 20px;
    ul{
        //padding-left: 0;
        list-style: none;
    }
    li{
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        padding: 7px;
        background-color: #fff;
        border-radius: 50%;
        height: 38px;
        width: 38px;
        
        &:first-child{
            margin-left: 0;
        }
        a{
            color: #000;
            &:hover{
                color: $general-color
            }
        }
      }
}
#details{
    .social-icons{
        text-align: left;
        padding: 0 20px;
        ul{
            //padding-left: 0;
            list-style: none;
        }
        li{
            list-style: none;
            display: inline-block;
            margin: 0 10px;
            padding: 7px;
            background-color: $general-color;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            text-align: center !important;
            &:first-child{
                margin-left: 0;
            }
            a{
                color: #fff;
                
            }
            &:hover{
                background-color: $second-color
            }
          }
    }
    
}
.about{
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    @media (max-width:767px) {
        padding: 40px 0;
    }
    &:before{
        position: absolute;
        content: "";
        background: $general-color;
        top: 0;
        left: 0;
        height: 100%;
        width: 38%;
        z-index: 0;
        opacity: .5;
        display: none;
        @media (max-width:600px) {
            bottom: 0;
            top: auto;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            opacity: .2;
            display: none;

        }
    }
    .cnt-image{
        @media (max-width:991px) {
            padding: 0;
        }
    }
    .content-about{
       position: relative;
       padding-top: 40px;
       padding-right: 40px;
       @media (max-width:991px) {
        padding-left: 40px;
       }
       @media (max-width:600px) {
            padding-left: 10px;
            padding-right: 10px;
       }
       @media (max-width:600px) {
        padding-top: 42px;
       }
      .cnt-ready{
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width:991px) {
           right: 2vh;
        }
        @media (max-width:600px) {
            right: 1vh;
         }
      }
    }
    .about-box{
        
        position: relative;
        background-color: #ffff; 
        display: flex;
        flex-wrap: wrap;
        // box-shadow: 0px 10px 40px rgba(0 ,0 ,0 , .2);
        padding: 25px 25px;
        z-index: 1;
        @media (min-width:992px) {
            max-width: 600px;  
        }
        @media (max-width:991px) {
            margin: auto;
        }
        @media (max-width:767px) {
            padding: 25px 15px;
        }
        &:before{
            position: absolute;
            content: "";
            background-image:url('../img/icon-bg-home.png');
            bottom: 0;
            right: 0;
            height: 294px;
            width: 261px;
        }
        &:after{
            position: absolute;
            content: "";
            background: #fff;
            color: #000;
            top: 0;
            bottom: 0;
            left: -25px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin: auto;
            @media (max-width : 991px) {
                top: auto;
                bottom: -25px;
                left: 0;
                right: 0;
            }
        }
        .section-title{
            text-align: left;
            margin-bottom: 0;
        }
        .cnt-right{
            margin: 25px auto;
        }
        .cnt-left{
            position: relative;
            margin: 0 auto;
            @media (max-width:600px) {
                scroll-snap-type: x mandatory;
                overflow: auto;
            }
            .pancakes-img{
                @media (max-width:600px) {
                    flex-shrink: 0;
                    scroll-snap-align: start;
                }
                margin: 0 6px;
                img{
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                }
            }
        }
        
        .social-icons{
            ul{
                //padding-left: 0;
                list-style: none;
            }
            li{
                list-style: none;
                display: inline-block;
                margin: 0 10px;
                
                &:first-child{
                    margin-left: 0;
                }
                a{
                    color: #888;
                    &:hover{
                        color: $general-color;
                    }
                }
              }
        }
        .cnt-text{
            position: relative;
            margin-top: 50px;
            &:before{
                position: absolute;
                content: "";
                background: $general-color;
                bottom: 0;
                right: 0;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                opacity: 0;
                z-index: 0;
                display: none;
                @media (max-width:600px) {
                    opacity: .2;
                }
            }
            .width-trait{
                padding-left: 15px;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: $general-color;
                    height: 100%;
                    width: 2px;
                    top: 0;
                    left: 0px;
                    @media (max-width:767px) {
                        background: #fff;
                    }
                }
            }
        }
    }
    .about-image{
        position: relative;
        height: 513px;
        @media (max-width:991px) {
            height: auto;
            //max-width: 600px;
            margin: auto;
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url("../img/etoiles.png");
            top: 0;
            bottom: 0;
            left: 5%;
            height: 140px;
            width: 21px;
            margin: auto;
        }
        &::after{
            
                position: absolute;
                content: "|||";
                color: #000;
                top: 0;
                bottom: 0;
                right: -11px;
                height: 28px;
                width: 21px;
                letter-spacing: 3px;
                margin: auto;
                z-index: 2;
               @media (max-width:991px) {
                top: -7px;
                bottom: auto;
                right: 0;
                left: 0;
                height: 30px;
                transform: rotate(-90deg);
               }
        }
        img{
            width: 100%;
            height: 100%;
            /* @media (max-width:991px) {
                width: 260px;
                height: 260px;
            } */
        }
    }
    .about-name{
        margin: 20px 0;
    }
    .signature-image{
        margin: 25px 0px 25px auto;
        max-width: 120px;
    }
    .more-link{
        margin: 20px 0;
        font-size: 17px;
        letter-spacing: 0px;
        position: relative;
        overflow: hidden;
        color: $general-color;
        text-decoration: none;
        /* @media (max-width:767px) {
            color: #fff;
        } */
        &::before{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            height: 1px;
            transition: all .5s;
            background: $general-color;
           /*  @media (max-width:767px) {
                background: #fff;
            } */
        }
        &:hover{
            &::before{
                transform: translateX(100%);
                background: transparent;
            }
        }
    }
}
.achievement{
    position: relative;
    
    &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(../img/bg1.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .25;
        z-index: -1;
    }
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(255,255,255) 0% , rgba(0,0,0,0) 24%);
        z-index: -1;
        display: none;
    }

}
.about__info {
    text-align: center;
    padding: 25px;
    //margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width:600px) {
        flex-direction: column;
    }
    &-title{
        font-weight: 700;
    }
    .item-about{
        font-size: 22px;
        display:flex;
        flex-direction: column;
        padding: 15px 60px;
        margin: 20px 0;
        position: relative;
        @media (max-width:1199px) {
            font-size: 20px;
        }
        @media (max-width:991px) {
            font-size: 18px;
        }
        @media (max-width:600px) {
            /* padding: 0 20px; */
            margin: 0 ;
        }
        &:before {
            position: absolute;
            content: "";
            background: $general-color;
            top: 25%;
            right: 0;
            height: 50%;
            width: 1px;
            @media (max-width:600px) {
                top: auto;
                bottom: 0;
                left: 0;
                margin: auto;
                height: 1px;
                width: 50%;
            }
        }
        &:first-child{
            @media (min-width:601px) {
                padding-left: 0;
            }
            @media (max-width:600px) {
                padding-top: 0;
                
            }
        }
        &:last-child{
            @media (min-width:601px) {
                padding-right: 0;
            }
            @media (max-width:600px) {
                padding-bottom: 0;
            }
            &::before{
                display: none;
            }
        }
    }
}


.items-view{
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    justify-content: center;
    margin-top: 60px !important;
    div.item{
        max-width: calc((100% - 6px)/3);
        margin: 15px 3px 15px 0px;
        width: 100%;
        text-align: center;
        &-image{
            margin: 15px auto;
            min-height: 62px;
            display: flex;
            justify-content: center;
            align-items: center;
        
            img{
                width: 65px;
                
            }
        }
        &-title{
            font-size: 20px;
            font-weight: 700;
        }
        &:nth-of-type(3n+3){
            margin-right: 0 !important;
        }
        .cnt{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            padding-top: 10px;
            &::before{
                position: absolute;
                content: "";
                background: #fff;
                top: 0;
                right: auto;
                left: auto;
                height: 1px;
                width: 30px;
            }
        }
    }
}

.items-view2{
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    justify-content: center;
    position: relative;
    @media (max-width:992px) {
        max-width: 600px;
        margin: 15px auto;
    }
    @media (max-width:600px) {
        padding-top: 18vh;
    }
    &::before{
        position: absolute;
        content: "";
        background-image: url("../img/icon-service3.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 247px;
        width: 247px;
        margin: auto;
        z-index: 9;
        @media (max-width:600px) {
            max-width: 200px;
            max-height: 200px;
            height: 100%;
            width: 100%;
            bottom: auto;
            //box-shadow: 0 5px 10px rgba(0,0,0,.15);
        }
        
    }
    //margin-top: 60px !important;
    div.item{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        &-image{
            position: relative;
            //margin: 15px auto;
            display: block;
            width: 100%;
            height: 100%;
           /*  &::before{
                position: relative;
                display: block;
                content: "";
                padding-top: 100px;
            } */
            &::after{
                position: absolute;
                content: "";
                border: 4px solid rgba(255,255,255,.5);
                top: 3%;
                left: 3%;
                bottom: 3%;
                right: 3%;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        &-title{
            font-size: 20px;
            font-weight: 700;
        }
        
        .cnt{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            &::before{
                position: absolute;
                content: "";
                background: #fff;
                top: 0;
                right: auto;
                left: auto;
                height: 1px;
                width: 30px;
                display: none;
            }
        }
        @media (min-width:601px) {
            width: calc((100% - 12px)/2);
            margin: 6px 6px 6px 0;
            &:nth-of-type(2n+2){
                margin-right: 0 ;
            }
        }

        @media (max-width:600px) {
            max-width: 450px;
            width: 100%;
            margin: 5px auto ;
            
        }
    }
}
section, .section {
    padding: 50px 0 50px;
    &-title{
        font-size: 30px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 40px;
        text-align: center;
        @media (max-width:767px) {
            font-size: 25px;
        }
    }
    &-sub-title{
        color:$general-color;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.breakfast{
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    background-position: right;
    color: #fff;
    .section-title{
        color: #fff;
        margin-bottom: 0;
    }
    .section-sub-title{
        text-align: center;
    }
    .cnt-right-style{
        &-1,&-2{
            position: relative;
            width: 10px;
        }
        &-1{
            &:before{
                position: absolute;
                content: "";
                background: rgba(255,255,255,.92);
                height: 93%;
                width: 10px;
                top: 0;
                bottom: 0;
                right: 0;
                //border-right: 1px dashed #000;
                margin: auto;
            }
            &::after{
                position: absolute;
                content: "";
                border-right: 1px dashed #000;
                opacity: .92;
                height: 87%;
                top: 0;
                bottom: 0;
                right: 5px;
                margin: auto;
            }
        }

        &-2{
            &:before{
                position: absolute;
                content: "";
                background: rgba(255,255,255,.82);
                height: 83%;
                width: 10px;
                top: 0;
                bottom: 0;
                right: 0;
                //border-right: 1px dashed #000;
                margin: auto;
            }
            &::after{
                position: absolute;
                content: "";
                border-right: 1px dashed #000;
                opacity: .82;
                height: 77%;
                top: 0;
                bottom: 0;
                right: 5px;
                margin: auto;
            }
        }
        
    }
    .cnt-right{
        background-color: #fff;
        color: #000;
        max-width: 400px;
        //box-shadow: 0 5px 10px rgba(0,0,0,.15);
        //padding: 0 10px 10px 0;
        position: relative;
       &:before{
        position: absolute;
        content: "";
        background-image: url("../img/bg-bloc3.png");
        background-repeat: no-repeat;
        //background-position: right bottom;
        height: 170px;
        width: 195px;
        bottom: 0;
        right: 0;
        z-index: 9;
       }
        
       
        .white-cnt{
            position: relative;
            padding: 20px 30px;
            border: 1px dashed #000;
            height: 400px;
            margin:  7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .text-cnt{
            line-height: 1.8;
        }
        [class*=cta-], [class*=cta]{
            background-color: transparent;
            color: $general-color;
            border: 1px solid rgba(0,0,0,.6);
            width: 150px;
            &:hover{
                background-color: $general-color;
                border-color: $general-color;
                color: #fff;
            }
        }
        .section-sub-title{
            color: #000;
            font-size: 29px;
            @media (max-width:1199px) {
                font-size: 27px;
            }
            @media (max-width:991px) {
                font-size: 25px;
            }
            @media (max-width:767px) {
                font-size: 23px;
            }
            @media (max-width:600px) {
                font-size: 21px;
            }
            @media (max-width:400px) {
                font-size: 19px;
            }
            span{
                display: block;
            }
        }
    }
    .cnt-left{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width:991px) {
            align-items: center;
            margin-top: 40px;
        }
        .items-view{
            margin-top: 5px !important;
        }
    }
   
}
.cnt-cooking{
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    margin: auto;
    z-index: 9;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width:500px) {
        flex-direction: row;
        align-items: center;
        right: 0;
        left: 0;
        bottom: auto;
    }
    .cnt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255,255,255,.8);
        color: $general-color;
        text-align: center;
        padding: 15px;
        height: 140px;
        width: 150px;
        border-bottom: 1px solid #eee;
        @media (max-width:767px) {
            padding: 5px;
            height: 120px;
            width: 120px;
        }
        @media (max-width:500px) {
            padding: 5px;
            height: 75px;
            width: 75px;
            border-right: 1px solid #eee;
            border-bottom: none;
        }
        .title-cooking{
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 2px;
            text-align: center;
            @media (max-width:767px) {
                font-size: 18px;
            }
            @media (max-width:500px) {
                font-size: 15px;
            }
        }
        .great-number{
            color: #000;
            margin-top: 2px;
            font-size: 35px;
            font-weight: 700;
            line-height: 1;
            @media (max-width:767px) {
                font-size: 25px;
            }
            @media (max-width:500px) {
                font-size: 20px;
            }
            span{
                display: block;
                font-size: 20px;
                font-weight: 400;
                @media (max-width:500px) {
                    font-size: 14px;
                }
            }
        }
    }
    .cnt-ready{
        height: 140px;
        width: 150px;
        box-shadow: none;
        @media (max-width:767px) {
            padding: 5px;
            height: 120px;
            width: 120px;
        }
        @media (max-width:500px) {
            padding: 5px;
            height: 75px;
            width: 75px;
            border-right: 1px solid #eee;
            border-bottom: none;
        }
        .title-cooking{
            margin-bottom: 2px;
            @media (max-width:767px) {
                font-size: 18px;
            }
            @media (max-width:500px) {
                font-size: 15px;
            }
        }
        .great-number{
            font-size: 35px;
            @media (max-width:767px) {
                font-size: 25px;
            }
            @media (max-width:500px) {
                font-size: 20px;
            }
            span{
                @media (max-width:500px) {
                    font-size: 14px;
                }
            }
        }
    }
}
.cnt-ready{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: $general-color;
    text-align: center;
    padding: 15px;
    background-image: url("../img/icon-prestation.png");
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    height: 170px;
    width: 170px;
    z-index: 2;
    @media (max-width:767px) {
        padding: 5px;
        height: 120px;
        width: 120px;
    }
    @media (max-width:600px) {
        height: 90px;
        width: 90px;
    }
    
    .title-cooking{
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 2px;
        text-align: center;
        @media (max-width:767px) {
            font-size: 18px;
        }
        @media (max-width:600px) {
            font-size: 16px;
        }
    }
    .great-number{
        margin-top: 2px;
        font-size: 52px;
        font-weight: 700;
        line-height: 1;
        @media (max-width:767px) {
            font-size: 40px;
        }
        @media (max-width:600px) {
            font-size: 30px;
        }
        span{
            display: block;
            font-size: 20px;
            font-weight: 400;
            @media (max-width:600px) {
                font-size: 14px;
            }
        }
    }
}
.sandwich{
    
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-image: url("../img/bg-bloc4.png");
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        right: 0;
        height: 142px;
        max-width: 707px;
        margin: 0 auto;
    }
    .section-title{
        margin-top: 50px;
        margin-bottom: 0;
    }
    .cnt-right{
        position: relative;
        padding: 12px 0 12px 14px;
        @media (max-width:500px) {
            padding: 0 0 12px 0;
        }
        .sandwich-image{
            border: 1px solid rgba(0,0,0,.3);
            position: relative;
            max-width: 750px;
            padding: 5px;
            img{
                width: 100%;
            }
            
        }
        .lien_sandwich{
            position: absolute;
            bottom: 5px;
            left: 0;
            [class*=cta-], [class*=cta]{
                background-color: #fff;
                color: $general-color;
                position: relative;
                border: none;
                &::before{
                    position: absolute;
                    content: "";
                    border: 1px dashed $general-color;
                    top: 1px;
                    left: 1px;
                    bottom: 1px;
                    right: 1px;
                }
                &:hover{
                    background-color: $general-color;
                    color: #fff;
                    &:before{
                        border-color: #fff;
                    }
                }
            }
        }
    }
   
    .items-view{
        margin-top: 0 !important;
        .item-img{
            border-radius: 50%;
            height: 125px;
            width: 125px;
            box-shadow: 0 2px 5px rgba(0,0,0,.15);
            margin: 0 auto;
            img{
                border-radius: 50%;
                height: 125px;
                width: 125px;
            }
        }
        .cnt{
            &::before{
                display: none;
            }
            .item-title{
                color: $general-color;
            }
        }
        
    }
}
.breakfast, .sandwich{
    .items-view{
        flex-direction: column;
        align-items: center;
        div.item{
            max-width: none;
            .item-img{
                border-radius: 50%;
            }
            .prix{
                color: $general-color;
                position: relative;
                padding-left: 10px;
                &::before{
                    position: absolute;
                    content: "$";
                    color: $general-color;
                    left: 0;
                }
            }
        }
    }
}
.tools{
    background-color: rgba($second-color , .4);

    /* .items-view{
        display: flex;
        flex-wrap: wrap;
        max-width: none;
        justify-content: center;
        margin-top: 60px !important;
        div.item{
            max-width: calc((100% - 12px)/5);
            margin: 15px 3px 15px 0px;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            background: #fff;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                background: $general-color;
                top: 0;
                left: 0;
                width: 2px;
                height: 100%;
            }
            &-image{
                margin: 15px;
                min-height: 31px;
                display: flex;
                justify-content: center;
                align-items: center;
            
                img{
                    width: 30px;
                    
                }
            }
            &-title{
                font-size: 17px;
                font-weight: 600;
            }
            &:nth-of-type(3n+3){
                margin-right: 3px !important;
            }
            &:nth-of-type(5n+5){
                margin-right: 0 !important;
            }
            .cnt{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                padding-top: 0px;
                &::before{
                    position: absolute;
                    content: "";
                    background: #fff;
                    top: 0;
                    right: auto;
                    left: auto;
                    height: 1px;
                    width: 30px;
                }
            }
        }
    } */
    
}
.skills{
   // background-color: #eee;
   background-image: url("../img/bg-service.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top right;
   position: relative;
   padding-top: 15vh;
   &::before{
    position: absolute;
    content: "";
    background-image: url("../img/icon-slider.png");
    background-repeat: no-repeat;
    top: -10vh;
    height: 106px;
    width: 106px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
   }
   &::after{
    position: absolute;
    content: "";
    background-color: #fff;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* demi cercle */
    /* border-bottom-left-radius: 100px; */
    /* border-bottom-right-radius: 100px;*/
   }
    .section-title{
        margin-bottom: 0;
    }
    
    .section-text{
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: justify;
        text-align-last: center;
    }
    .sub-title-chef{
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 25px;
    }
    .img-chef {
        padding: 0 15px;
    }
    
    .sub-title-left , .sub-title-right {
        position: relative;
        padding: 10px 0;
        margin: 0 auto;
        max-width: 100px;
        width: 100%;
    }
    
    .sub-title-left, .sub-title-right {
        &:before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 1px;
            max-width: 100px;
            width: 100%;
            background: $general-color;
        }
        &::after{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 1px;
            max-width: 100px;
            width: 100%;
            background: $general-color;
        }
    }
    .word-chef {
        font-size: 40px;
        line-height: 1;
        padding: 20px 0;
        max-width: 446px;
        width: 100%;
        margin: 0 auto;
        color: $general-color;
        position: relative;
        @media (max-width:991px) {
            font-size: 35px;
        }
        @media (max-width:767px) {
            font-size: 30px;
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url("../img/acolade.png");
            top: 0;
            left: 0;
            height: 14px;
            width: 23px;  
        }
        &::after{
            position: absolute;
            content: "";
            background-image: url("../img/acolade2.png");
            bottom: 0;
            right: 0;
            height: 14px;
            width: 23px;  
        }

        span {
            display: block;
        }
    }
    
}




footer{
    .top-footer{
        @media (max-width:991px) {
            padding: 20px 10px;
            border-top: 1px solid #cdcdcd;
            border-bottom: 1px solid #cdcdcd;
        }
        .mobile-footer{
            justify-content: space-around;
            @media (max-width:767px) {
                flex-direction: column;
            }
        }
        
    }
    margin-bottom: 25px !important;
    .right-footer , .left-footer{
        border-top: 2px solid #cdcdcd;
        border-bottom: 2px solid #cdcdcd;
        padding: 20px 20px;
        @media (max-width:991px) {
            display: none !important;
        }
    }
    .logo_footer{
        text-align:center;
        @media (max-width:991px) {
            margin-bottom: 20px;
        }
        @media (max-width:767px) {
            margin-bottom: 5px;
        }
    }
    .item-footer{
        padding-right: 49px;
        margin: 2px 5px;
        position: relative;
        &:last-child{
            padding-right: 0;
        }
        @media (max-width:767px) {
            padding-right: 0;
            padding-bottom: 13px;
            margin: 5px 0;
            text-align: center;
            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
        &::before{
            position: absolute;
            content: "";
            height: 1px;
            width: 10px;
            top: 5px;
            bottom: 0;
            right: 0;
            margin: auto;
            background-color: #cdcdcd;
            
            @media (max-width:767px) {
                top: auto;
                left: 0;
            }
        }
        &:last-child{
            &::before{
                display: none;
            }
        }
    }
   
}

.swiper {
    &-wrapper{
        //transition-duration:2s !important;
    }
    width: 100%;
    height: 100%;
    &-slide , &-slide-prev ,&-slide-next , &-slide-duplicate , &-duplicate-next , &-duplicate-prev{
        opacity: .3;
    }
    .swiper-btn{
        position: relative;
        margin: 10px auto;
        text-align: center;
    }
    .swiper-button-next, .swiper-button-prev{
        color: $general-color !important;
        position: relative;
        margin: 8px;
        display: initial;
        left: initial;
        right: initial;
        
        &::after{
            font-size: 20px !important;
            padding: 5px 10px;
            border: 1px solid $general-color;
        }
    }
   /*  &-button-next{
        right: 47% !important;
    }
    &-button-prev{
        left: 47% !important;
    } */
  }
  
  .slide-card {
   
    cursor: grab;
  }
  

  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration:1s;
    animation-duration: 5s;
  }
  
  /* transform active card  */
  .swiper-slide.swiper-slide-active {
   // transform: scale(1.2);
   opacity: 1;
   .fa-calendar:before{
    color: $general-color;
   }
   div.item-desc span{
    color: $general-color;
   }
  
  }
  .swiper{
    .items-view{
        flex-wrap: nowrap;
        max-width: none;
        justify-content: normal;
        margin-bottom: 35px;
        div.item{
            max-width: none;
            width: 100%;
            margin: 0;
        }
    }
  }

  @media (min-width: 768px) and (max-width:991px){
    .container, .container-md, .container-sm {
        max-width: 991px !important;
    }
  }
  @media (min-width: 576px) and (max-width:767px){
    .container, .container-sm {
        max-width: 767px !important;
    }
  }
 
  /** Resume page
  */
body#resume {
    margin: 0;
    iframe{
        border-width: 0;
        border-style: none;
    }
}
    
.img_formation_details{
    max-width: 200px;
    img{
        height: 100%;
        width: 100%;
    }
}
section.breadcrumbs{
    background: rgba($second-color , .2);
    padding: 15px 10px;
    color: #000;
    margin-top: 60px;
    ol{
        display: flex;
    }
    li{
        list-style: none;
        padding: 5px 2px;
        position: relative;
        &:first-child{
            a{
                text-decoration: none;
                color: $general-color;
                padding-right: 30px;
                &::before{
                    position: absolute;
                    content: ">";
                    color: #000;
                    top: auto;
                    right: 0;
                    height: 25px;
                    width: 18px;
                }
                &:hover{
                    color: #000;
                }
            }
            
        }
    }
}
  
#details{
    main{
        margin-top: 68px;
    }
}
li{
    list-style: none;
}

a {
    text-decoration: none !important;
}
/* .btn{
    list-style: none;
    text-decoration: none;
} */
[class*=cta-], [class*=cta]{
    font-size: 14px;
    border-radius: 0 ;
    padding: 7px 10px;
    line-height: 1.1 ;
    margin: 10px auto;
    width: fit-content;
    text-align: center;
    background-color: rgba($second-color,.5);
    color:#fff;
    text-transform: uppercase;
    border: 1px dashed $general-color;
    &:hover{
        background-color: rgba($general-color,.5) ;
        color: #fff;
        border-color: $second-color ;
    }
}

/* timeline */
section.timeline{
    padding: 100px 0;
    background-color: #0072a6;

    /* width: 90%;
    max-width: 1200px; */
    margin: 0 auto;
   // text-align: center;

      
}
.timeline {
    white-space: nowrap;
    overflow-x: hidden;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
.timeline .owl-prev{
   // background-image: url(../img/fleche01.png);
   display: inline-block;
   background-color: #fff;
   background-image: url(https://www.vitivista-merignac.fr/public/img/fleche01.png);
    font-size: 0;
    background-position: center;
    width: 40px;
    height: 40px;
   /*  background-size: contain; */
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
}

.timeline .owl-next{
    // background-image: url(../img/fleche01.png);
    display: inline-block;
    background-color: #fff;
    background-image: url(https://www.vitivista-merignac.fr/public/img/fleche02.png);
     font-size: 0;
     background-position: center;
     width: 40px;
     height: 40px;
     /* background-size: contain; */
     background-repeat: no-repeat;
     cursor: pointer;
     outline: none;
 }
  .timeline ol {
    font-size: 0;
    width: 100%;
    padding: 250px 0;
    transition: all 1s;
  }
  
  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #fff;
  }
  
  .timeline ol li:last-child {
    width: 280px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: 14px;
  }
  
  .timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #82ac29;
  }
  
  .timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
  }
  
  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
  }
  
  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }
  
  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }
  
  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }
  
  .timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  /* TIMELINE ARROWS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .timeline .arrows .arrow__prev {
    margin-right: 20px;
  }
  
  .timeline .disabled {
    opacity: .5;
  }
  
  .timeline .arrows img {
    width: 40px;
    height: 40px;
    background-color: #fff;
  }
  
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 609px) {
    .timeline ol,
    .timeline ol li {
      width: auto; 
    }
    
    .timeline ol {
      padding: 0;
      transform: none !important;
    }
    
    .timeline ol li {
      display: block;
      height: auto;
      background: transparent;
    }
    
    .timeline ol li:first-child {
      margin-top: 25px;
    }
    
    .timeline ol li:not(:first-child) {
      margin-left: auto;
    }
    
    .timeline ol li div {
      width: 100%;
      height: auto !important;
      margin: 0 auto 25px;
    }
    
    .timeline ol li div {
      position: static;
    }
    
    .timeline ol li:nth-child(odd) div {
      transform: none;
    }
    
    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: none;
      border-left: 1px solid white;
      height: 25px;
    }
    
    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
      display: none;
    }
  }
  /* end timeline */